---
- name: "Deploy alloy environment vars."
  ansible.builtin.template:
    src: "{{ calopsys_alloy_env_template }}"
    dest: "{{ calopsys_alloy_env_dir }}/alloy"
    owner: root
    group: root
    mode: "0600"
  when: calopsys_alloy_env_template is defined and calopsys_alloy_env_template | length > 0
  notify: "systemctl restart alloy"

- name: "Deploy alloy configuration."
  ansible.builtin.template:
    src: "{{ calopsys_alloy_config_template }}"
    dest: "{{ calopsys_alloy_config_dir }}/config.alloy"
    owner: root
    group: "{{ calopsys_alloy_group }}"
    mode: "0640"
  when: calopsys_alloy_config_template is defined and calopsys_alloy_config_template | length > 0
  notify: "systemctl reload alloy"
