{{ ansible_managed | comment }}
MIMIR_S3_ENDPOINT={{ calopsys_mimir_standalone_s3_endpoint }}
MIMIR_S3_ACCESSKEY={{ calopsys_mimir_standalone_s3_accesskey }}
MIMIR_S3_SECRETKEY={{ calopsys_mimir_standalone_s3_secretkey }}
MIMIR_S3_BUCKET={{ calopsys_mimir_standalone_s3_bucket }}
# used by default systemd unit
LOG_LEVEL={{ calopsys_mimir_standalone_log_level }}
CUSTOM_ARGS="-config.expand-env=true"
