---
- name: "Ensure loki systemd unit override directory."
  ansible.builtin.file:
    name: "/etc/systemd/system/loki.service.d"
    owner: root
    group: root
    mode: "0755"
    state: directory

- name: "Deploy loki systemd unit override."
  ansible.builtin.template:
    src: "systemd_override.conf.j2"
    dest: "/etc/systemd/system/loki.service.d/override.conf"
    owner: root
    group: root
    mode: "0644"
  notify: "systemctl daemon-reload"

- name: "Ensure loki is started and enabled."
  ansible.builtin.service:
    name: "loki"
    state: started
    enabled: true
