---
- name: Converge
  hosts: instance
  become: true
  tasks:
    - name: "Create grafana systemd override directory for container environments"
      ansible.builtin.file:
        name: /etc/systemd/system/grafana-server.service.d
        state: directory
        mode: "0755"

    - name: "Create grafana systemd override for container environments"
      ansible.builtin.copy:
        dest: /etc/systemd/system/grafana-server.service.d/override.conf
        content: |
          [Service]
            LockPersonality=no
            MemoryDenyWriteExecute=no
            PrivateDevices=no
            ProtectKernelModules=no
            ProtectKernelLogs=no
            ProtectKernelTunables=no
            ProtectClock=no
            ProtectHostname=no
            RestrictNamespaces=no
            RestrictRealtime=no
            RestrictSUIDSGID=no
            RestrictAddressFamilies=
            SystemCallArchitectures=
            SystemCallFilter=
        mode: "0640"
        owner: root
        group: root

    - name: "Include grafana role"
      ansible.builtin.include_role:
        name: calopsys.observability.grafana
