{{ ansible_managed | comment }}
LOKI_S3_ENDPOINT={{ calopsys_loki_standalone_s3_endpoint }}
LOKI_S3_ACCESSKEY={{ calopsys_loki_standalone_s3_accesskey }}
LOKI_S3_SECRETKEY={{ calopsys_loki_standalone_s3_secretkey }}
LOKI_S3_BUCKET={{ calopsys_loki_standalone_s3_bucket }}
