---
name: CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 6 * * *"

concurrency:
  group: >-
    ${{ github.workflow }}-${{
      github.event.pull_request.number || github.sha
    }}
  cancel-in-progress: true

jobs:
  sanity:
    name: Sanity
    runs-on: ubuntu-latest
    steps:
      - name: Perform sanity testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: stable-2.20
          testing-type: sanity
          pull-request-change-detection: false

  units:
    name: Units
    runs-on: ubuntu-latest
    steps:
      - name: Perform unit testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: stable-2.20
          testing-type: units
          pull-request-change-detection: false

  integration:
    name: Integration (debian-13-trixie)
    runs-on: ubuntu-latest
    steps:
      - name: Perform integration testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: stable-2.20
          target-python-version: "3.13"
          testing-type: integration
          test-deps: >-
            ansible-community.images
          docker-image: quay.io/ansible-community/test-image:debian-13-trixie
          pull-request-change-detection: false

  check:
    if: always()
    needs:
      - sanity
      - units
      - integration
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
